:root{
    --color-primary : #2947A9;
    --color-primary-2: #F9995D;
    --color-second: #292E3D;
    --color-third: #E0E3EB;
    --color-fourth:#858EAD;
    --color-inputtext: #A3AAC2;
    --color-archivement-left:#667299;
    --color-archivement-right:#525B7A;
    --color-project-menuleft:#C2C7D6;
    --color-white: white;
    --font-primary: 20px;
    --font-second:14.63px;
    --font-size-title: 27px;
    --font-family-primary: Arial, Helvetica, sans-serif;
    --font-family-second: Work Sans, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--font-family-second);
}
a{
    text-decoration: none;
    display: block;
    color: var(--color-second);
}
.container ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
.title{
    font-weight: 700;
    font-size: var(--font-size-title) ;
    text-align: center;
    padding: 30px 0 15px 0;
}
.container{
    font-size: var(--font-primary);
    font-family: var(--font-family-second);
    color: var(--color-primary);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 0 80px 0 80px;
    align-items: center;
}
.container h1{
    font-family: var(--font-family-second);
    font-weight: 700;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    height: 45px;
    width: 38px;
    padding: 0 15px;
}

/* Banner 1 */
.banner{
    position: relative;
    width: 100%;
}
.banner_img img {
    width: 100%;
    height: 590px;
    object-fit: cover;
    display: block;
}
.banner_txt{
    position: absolute;
    width: 400px;
    left: 80px;
    top: 170px;
    color: var(--color-second);
    text-align:center;  
    padding: 10px 50px;
}
.banner_txt p{
    font-size: 52px;
    font-family: var(--font-family-second);
    word-wrap: break-word;
    font-weight: 600;
}
.banner_box{
    width: 400px;
    height: 180px;
    position: absolute;
    right: 0%;
    bottom: 0%;
    background-color: #3559C7;
    text-align: center;
    font-size: var(--font-primary);
    font-family: var(--font-family-second);
    word-wrap: break-word;
    color: var(--color-white);
}
.banner_box p{
    padding: 0px 15px;
}
.banner_box_btn{
    position: absolute;
    display: flex;
    width: 100%;
    height: 35px;
    bottom: 0;
    cursor: pointer;
}
#banner_box_btn_back{
    flex: 1;
    font-size: 15px;
    background-color: var(--color-second);
    color: var(--color-white);
    font-weight: 400;
    cursor: pointer;
}
#banner_box_btn_next{
    flex: 1;
    font-size: 15px;
    background-color: var(--color-second);
    color: var(--color-white);
    font-weight: 400;
    cursor: pointer;
}

/* Our Reputation */
.our_reputation{
    position: relative;
    width: 100%;
    text-align: center;
}
.our_repu_reason{
    display: flex;
    justify-content: space-between;
    padding: 30px 280px;
    gap: 30px;
}
.reasons{
    color: var(--color-second);
    border-collapse: collapse;
    padding: 14.63px 14.63px 29.27px 14.63px;
    width: 250px;
    word-wrap: break-word;
    border: 1.02px solid var(--color-third);
    width: 213.67px;
    height: 144.52px;
    text-align: left;
    border-radius: 2.93px;
}
.reasons img{
    width: 29.27px;
    height: 29.27px;
}
.reasons_txt{
    font-size: 14px;
    color: var(--color-fourth);
}
.reasons_sub_title{
    font-size: var(--font-primary);
    color: var(--color-second);
}

/* About Us */
.about_us{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 80px;
}
.about_img img{
    width: 780px;
    height: 580px;
    border-radius: 1.46px;
    margin-left: 140px;
}
.about_box{
    background-color: var(--color-primary);
    width: 357.09px;
    text-align: left;
    border-radius: 1.46px;
    position: absolute;
    padding: 36.59px 29.27px;
    right: 240px;
}
.about_box_txt{
    font-size: var(--color-primary);
    color: var(--color-white);
}
.about_title{
    font-size: var(--font-size-title);
}
#about_box_btn {
    background-color: var(--color-white);
    color: var(--color-primary);
    font-weight: 600;
    border: 1.46px solid var(--color-primary);
    padding: 10px 16px;
    margin-top: 30px;
    border-radius: 4.39px;
    cursor: pointer;
}
#about_box_btn:hover{
    box-shadow: 0 2px 2px black;
}

/* Services */
.service{
    background-color: var(--color-third);
}
.service_card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    margin: 40px auto;
    padding: 0 0 70px 0;
    width: 80%;
}
.service_card img{
    width: 29.27px;
    height: 29.27px;
    padding: 10px 0 0 0 ;
}
.service_card_default{
    background-color: var(--color-white);
    font-size: var(--font-primary);
    color: var(--color-primary);
    border-collapse: collapse;
    text-align: center;
    padding: 2px 50px 25px;
    width: 177.57px;
    height: 132.44px;
}
.service_card_default:hover{
    box-shadow: 0 1px 2px black;
}
.service_card_color{
    background-color: var(--color-primary);
    font-size: var(--font-primary) ;
    color:var(--color-white);
    border-collapse: collapse;
    text-align: center;
    padding: 2px 50px 25px;
    width: 177.57px;
    height: 132.44px;
}
.service_card_color:hover{
    box-shadow: 0 1px 2px black;
}
.service_line{
    color: var(--color-third);
}

/* Archivement */

/* --archivement-left */
.archivement {
  display: flex;
  align-items: flex-start;
  position: relative;
  min-height: 650px;
}
.archive_box{
    position: relative;
    background-color: var(--color-white);
    color: var(--color-archivement-left);
    font-size: var(--font-primary);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 2.93px;
    width: 230px;
    height: auto;
    text-align: center;
}
.archive_box p{
    margin:0;
    padding: 10px 5px 10px 10px;
}
.archive_box b{
    color: var(--color-primary-2);
    font-size: var(--font-size-title);
    font-weight: 900;
}
.ar_boxtitle{
    color: var(--color-second);
    padding: 5px 5px 0px 5px;
    font-size: 52px;
    font-weight: 600;
    text-align: left;
}

/*__icon*/
.archive_icon1 img, .archive_icon2 img, .archive_icon3 img, .archive_icon4 img{
    width: 80px;
    height: 80px;
}
.archivement_left{ position: relative;  }
.archive_icon1{ top: 85px; left: 210px; position: absolute;  z-index: 2;}
.archive_icon2{ top: 20px; left: 670px; position: absolute;  z-index: 2;}
.archive_icon3{ top: 255px; left: 570px; position: absolute;  z-index: 10;}
.archive_icon4{ top: 480px; left: 470px; position: absolute;  z-index: 2;}

/*__box*/
.archive_box1 .archive_box {width: 270px;}
.archive_box2 .archive_box {width: 220px;}

.archive_box1 { top: 150px; left: 250px; position: absolute;}
.archive_box2 { top: 50px; left: 480px; position: absolute; z-index: 1;}
.archive_box3 { top: 280px; left: 400px; position: absolute; z-index: 2;}
.archive_box4 { top: 370px; left: 260px; position: absolute;}

/* --archivement-right */
.archivement_right{
    width: 247.09px;
    text-align: left;
    border-radius: 1.46px;
    position: absolute;
    padding: 1px 29.27px;
    top:0%;
    right: 250px;
}
.archive_right_txt{
    font-size: var(--color-primary);
    color: var(--color-archivement-right);
}
.archive_right_title{
    font-size: 48px;
    font-weight: 800;
    color: var(--color-primary);
}
#archive_right_btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 600;
    border: 1.46px solid var(--color-primary);
    padding: 11.71px 14.63px;
    margin-top: 30px;   
    border-radius: 1.46px;
    width: 128.78px;
    cursor: pointer;
}
#archive_right_btn:hover{
    box-shadow: 0 2px 2px black;
}

/* Banner Mini */
.banner_mini_img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
    filter: brightness(30%);
}
.banner_mini{
    display: flex;
    position: relative;
}
.banner_mini_txt{
    position: absolute; 
    color: var(--color-white); 
    font-size: var(--font-primary); 
    text-align: left; 
    top: 10%; 
    left: 10%;
}
#banner_mini_btn{
    position: absolute;
    top: 50%; right: 10%; 
    background-color: transparent; 
    color: white; 
    padding: 12px 20px; 
    border: 1px solid var(--color-white); 
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
#banner_mini_btn:hover{
    box-shadow: 0 2px 2px black;
}

/* Projects */
.project{
    padding-top: 64.39px;
}
.project .title{
    text-align: left;
    padding-left: 130px;
    display: block;
}
.project_menu{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
/* --project-left */
.project_menu_left ul li a{
    color: var(--color-project-menuleft);
    font-size: var(--font-primary);
}
.project_menu_left ul{
    padding-left: 130px;
    display: block;
    list-style: none;
    gap: 30px;
}
.project_menu_left li{
    margin: 15px;
}
.project_menu_left ul li a:hover{
    transform: translateY(5%);
    color: var(--color-primary);
    font-weight: 600;
}

/* --project-right */
.project_right{
    display: grid;
    padding: 20px 200px;
    right: 300px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: start;
}
.project_box_all {
    background-color: var(--color-primary);
    color: white;
    overflow: hidden;
    font-size: 14px;
}
.project_box_all img {
    width: 100%;
    height: 180.74px;
    object-fit: cover;
}
.project_box_all p {
    margin: 8px 12px;
}
.project_box_all b {
    display: block;
    margin-bottom: 5px;
}

/* --project-right-button */
.project_right_btn {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
}
.project_right_btn button {
    width: 215.86px;
    height: 46.83px;
    background-color: var(--color-second);
    color: var(--color-white);
    border: none;
    padding: 10px 40px;
    font-size: var(--font-second);
    cursor: pointer;
}
.project_point{
    display: flex;
    align-items: center;
    gap: 10px;
}
.project_point .point_color{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-primary);
}
.project_point .point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-third);
}

/* Contact */
.contact{
    background-color: var(--color-third);
    padding-top: 30px;
}
.contact_txt{
    text-align: center;
    font-size: var(--font-second);
}
.contact_txt .title{
    padding: 10px;
}
.contact_form{  
    max-width: 433.19px;
    margin: 0 auto; 
    padding: 10px;
}
.form_row{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.form_row input::placeholder{
    color: var(--color-inputtext);
}
.form_row textarea::placeholder{
    color: var(--color-inputtext);
}
.form_row select{
    color: var(--color-inputtext);
}

.contact_form input{
    flex: 1;
    height: 19.63px;
    padding: 15px 10px;
    font-size: var(--font-second);
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
.contact_form select{
    width: 47.5%;
    font-size: var(--font-second);
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    
}
.contact_form textarea {
    width: 95%;
    height: 98.87px;
    padding: 15px 10px;
    font-size: var(--font-second);
    border: 1px solid #ccc;
    border-radius: 2px;
}
.contact_form_note{
    text-align: left;
    font-size: var(--font-second);
    color: var(--color-archivement-left);
    margin-top: 5px;
}

.contact_form button{
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 600;
    border: 1.46px solid var(--color-primary);
    padding: 11.71px 14.63px;
    margin-top: 30px;
    border-radius: 1.46px;
    width: 198.3px;
    height: 38.42px;
    cursor: pointer;
}
.contact_form button:hover{
    box-shadow: 0 1px 2px black;
}

/* Bottom */
.bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

/* --bottom-left */
.bottom_left{
    padding-left: 100px;
}
.bottom_left span{
    color: var(--color-primary);
    font-weight: 500;
    padding-right: 2px;
}
.bottom_logo{
    display: flex;
    align-items: center;
    color: var(--color-primary);
}
.bottom_logo img {
    height: 45px;
    width: 38px;
    padding: 0 15px;
}

/* --bottom-right */
.bottom_right{
    padding-right: 120px;
    color: var(--color-primary);
    font-weight: 500;
}
.bottom_right_box input{
    width: 204.89px;
    height: 15.63px;
    text-align: left;
    padding: 15px 20px 15px 5px;
    font-size: var(--font-second);
    border: 1px solid var(--color-third);
    border-radius: 2px;
    box-sizing: border-box;
}
.bottom_right_box input::placeholder{
    color: var(--color-inputtext);
}
#bottom_btn{
    background-color: var(--color-primary-2);
    width: 99.52px;
    height: 30px;
    border: none; 
    color: var(--color-white);
    border-radius: 4px;
}
.bottom_social_img img{
    width: 36px;
    height: 36px;
}

/* Footer */
.footer{
    position: relative;
    background-color: var(--color-primary);
    width: 100%;
    height: 51.22px;
    color: var(--color-white);
    font-size: var(--font-second);
}
.footer_txt{
    padding-left: 120px;
    padding-top: 19.03px;
}