h2{
    	color:blueviolet;
    	box-shadow: 5px;
    	font-weight: 700;
    	text-align: center;
	    padding-bottom: 20px;
	}
	.box{
    	display: flex;
    	align-items: center;
    	justify-content: flex-start;
    	padding: 10px;
    	gap: 20px;
	}
	.myText{
    	color:black;
    	height: fit-content;
    	width: fit-content;
    	font-size: 20px;
    	text-align: center;
    	font-weight: 700;
	}
    #text2{
    	color:green;
        font-size: 20px;
    }
	#myInput{
    	width: 100px;
    	height: 30px;
    	border-radius: 4px;
    	border: 2px solid black;
	}
    #input2{
    width: 100px;
    	height: 30px;
    	border-radius: 4px;
    	border: 2px solid black;
    }
	.myButton{
    	height: auto;
    	background-color: aqua;
    	color: black;
    	border-radius: 10%;
        padding:7px;
	}
	.myButton:hover{
    	transform: translateY(-5px);
    	box-shadow: 0 2px 2px black;
	}