a:link{
    color: blue;
}
.btn {
  padding: 10px 20px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}
.btn:hover {
  opacity: 0.8;
  background-color: aqua;
}
.btn1 {
  background-color: orange;
  color: white;
}

.btn2 {
  background-color: green;
  color: white;
}
.btn3 {
    background-color: bisque;
    color: black;
}
body{
    font: 14px sans-serif;
}
table{
    width:300px;
    font: 20px sans-serif;
    border-collapse: collapse;
}
td{
    border: 2px solid #ccc;
    padding: 5px 10px;
}
table.autowidth td{
    white-space:nowrap;
}